body{
    padding: 100px;
}
.bank-title{
    text-align: center;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#transaction-area{
    display: none;
}
.Deposit{
    background-color: rgb(0, 89, 255);
    margin: 0 20px;
    padding: 40px;
    color: white;
    border-radius:10px;

}
.Withdraw{
    background-color: brown;
    margin: 0 20px;
    padding: 40px;
    color: white;
    border-radius:10px;
}
.Balance{
    background-color: orange;
    margin: 0 20px;
    padding: 40px;
    color: white;
    border-radius:10px;
}